@import '@coreui/coreui/dist/css/coreui.min.css';
@import 'ng-diagram/styles.css';

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: var(--cui-font-sans-serif);
  background: #f8fafc;
}

* {
  box-sizing: border-box;
}
